name: CICD - Test Code

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.12'

      - name: Install Python dependencies
        run: |
          pip install poetry==2.0.1

      - name: Run Unit Tests
        run: |
          poetry install
          poetry run pytest

      - name: Run Runtime Tests
        run: |
          poetry run python -m ossprey --dry-run-safe --package test/test_packages/npm_simple_math/ --mode npm
          poetry run python -m ossprey --dry-run-safe --package test/test_packages/yarn_simple_math/ --mode yarn
          poetry run python -m ossprey --dry-run-safe --package test/test_packages/python_simple_math/ --mode python-requirements

      - name: Run smoke tests
        run: |
          poetry run pytest test/smoke/test_smoke.py -m "not network and not slow"